@import "../../style/vars/_index.scss";

.input {
  display: block;
  padding: 1.8rem 2.4rem;
  width: 100%;
  border-radius: var(--btn-border-radius);
  outline: none;
  border: 1px solid $color-primary-dark;
  color: lighten($color: $color-primary-dark, $amount: 50%);
  display: flex;
  justify-content: space-between;
  &--valid {
    border: 1px solid $color-status-success;
  }
  &--invalid {
    border: 1px solid $color-status-danger;
  }
  &--disabled {
    opacity: 0.3;
    pointer-events: none;
  }
  /* todo add focus state */
  /* todo add hover state */

  &__input {
    border: none;
    @include typo-form-placeholder;
    &:focus {
      outline: none;
    }
  }
}
