@use "sass:map";
@import "../../style/vars/_index.scss";

.btn {

  display: block;
  width: fit-content;
  padding: 16px 40px;
  border-radius: 8px;
  @include typo-cta-primary($color: var(--color-text));
  background-color: var(--color-bg);
  cursor: pointer;
  transition: background-color .15s ease-in-out;

  &:hover {
    background-color: var(--color-bg);
  }

  &:focus {
    border: 2px solid map.get($colors, primary-darken);
    padding: 14px 38px;
  }

  &:active {
    box-shadow: inset 2px 2px 4px var(--color-bg);
    background-color: var(--color-bg);
    transform: translate3d(0, 2px, 0) scale(0.95) skewX(5deg);
    transition: transform .1s ease-in-out;
  }

  &:disabled {
    color: var(--color-text);
    background: var(--color-bg);
  }
}

@each $name, $color in $colors {
  .bg-#{$name} {
    --color-bg: #{$color};

    &:hover {
      background-color: lighten($color, 10%);
    }
  }
  .text-#{$name} {
    --color-text: #{$color};
  }
}