/* Primary */
$color-primary-base: #a532ff;
$color-primary-lighten: #d094ff;
$color-primary-darken: #62298f;
$color-primary-white: #f8f8f8;
$color-primary-dark: #0a0a0a;

/* Grey */
$color-grey-base: #b2b2b2;
$color-grey-lighten: #dcdcdc;
$color-grey-darken: #878787;

/* success */
$color-success-base: #37c54e;

/* danger */
$color-danger-base: #c53737;
