/* primary */
$color-primary-lighten: #d094ff;
$color-primary-base: #a532ff;
$color-primary-darken: #62298f;

/* grey */
$color-grey-lighten: #dcdcdc;
$color-grey-base: #b2b2b2;
$color-grey-darken: #878787;

/* black */
$color-black-base: #0a0a0a;

/* success */
$color-success-base: #37c54e;

/* danger */
$color-danger-base: #c53737;
