@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* todo importer les fichiers */

$font-family: "Inter", sans-serif;

@mixin typo-headline-large() {
  font-family: $font-family;
  font-weight: 700;
  line-height: 1.2;
  font-size: 40px;
}

@mixin typo-body-m() {
  font-family: $font-family;
  font-weight: 300;
  line-height: 1.2;
  font-size: 16px;
}

@mixin typo-body-m-underline() {
  @include typo-body-m;
  text-decoration: underline;
}

@mixin typo-cta-primary() {
  font-family: $font-family;
  font-weight: 700;
  font-size: 24px;
}

@mixin typo-cta-secondary() {
  font-family: $font-family;
  font-weight: 300;
  font-size: 16px;
  text-decoration: underline;
}
