@import "../../style/vars/_index.scss";

.icon {
  width: fit-content;
  svg, path {
    fill: var(--color-icon-color);
  }
}

/* Primary */
.icon--primary-base {
  --color-icon-color: #{$color-primary-base};
}
.icon--primary-lighten {
  --color-icon-color: #{$color-primary-lighten};
}
.icon--primary-darken {
  --color-icon-color: #{$color-primary-darken};
}
.icon--primary-white {
  --color-icon-color: #{$color-primary-white};
}
.icon--primary-dark {
  --color-icon-color: #{$color-primary-dark};
}

/* Grey */
.icon--grey-base {
  --color-icon-color: #{$color-grey-base};
}
.icon--grey-lighten {
  --color-icon-color: #{$color-grey-lighten};
}
.icon--grey-darken {
  --color-icon-color: #{$color-grey-darken};
}

/* Success */
.icon--status-success {
  --color-icon-color: #{$color-status-success};
}

/* Danger */
.icon--status-danger {
  --color-icon-color: #{$color-status-danger};
}